.vscode/
.idea/
.DS_Store
*.zip
*.mrpack
node_modules/
package-lock.json
.vite/
dist/*
.gradle/
build/
libs/
run/
.github/events

configureddefaults/
.packwizignore
icon.png
assets/

!1.21.1/configurations/configureddefaults/
!1.21.1/configurations/configureddefaults/config/fancymenu/assets/
!1.21.1/configurations/.packwizignore
!1.21.1/configurations/icon.png