# MacOS
.DS_Store

# IDE
.idea/

# Website
node_modules/
.vite/
package-lock.json

# Java
build/
libs/
run/
.gradle/

# Build outputs
dist/*

# Configuration files
assets/
config/
journeymap/
options-profiles/
icon.png
options.txt
.packwizignore

!configurations/config/
!configurations/config/fancymenu/assets/
!configurations/journeymap/
!configurations/journeymap/config/
!configurations/options-profiles/
!configurations/icon.png
!configurations/options.txt
!configurations/*/*/options.txt
!configurations/.packwizignore