*.zip
*.mrpack

# gradle

.gradle/
build/
out/
classes/

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Website

dist/
node_modules/
package-lock.json