:root {
  --color-background: #181f2a;
  --color-text: #f5d06f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  box-sizing: border-box;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-background);
  min-height: 100dvh;
  color: #fff;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
