@import './base.css';

h1,
h2,
h3,
a,
p {
  text-shadow: 0 0 5px #f5d06f80;
}

h1,
h2,
h3 {
  font-family: 'Cinzel', serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.5s;
}

a:hover {
  text-shadow: 0 0 15px var(--color-text);
}

/* Main styles */
@media screen and (max-width: 1024px) {
  main {
    padding: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  main {
    padding: 3rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
  box-sizing: border-box;
}

main section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  backdrop-filter: blur(5px);
  padding: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  background: rgba(30, 30, 30, 0.25);
  box-sizing: border-box;
}
